@page
@using ContosoCrafts.Website.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Contoso Crafts</h1>
    <p>This is the site built in the <a href="https://www.youtube.com/playlist?list=PLdo4fOcmZ0oW8nviYduHq7bmKode-p8Wy">Asp.Net Core 101</a> series.</p>
</div>

<!-- Reference our Blazor Page to make our cards display!!! -->
@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>